* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: 1px solid rgb(123, 123, 123);
  &:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
  }
}
.icons{
  background: transparent;
}