.intro {
  background: rgb(5, 0, 37);

  h1,
  h2,
  h3 {
    overflow: hidden;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .leftDiv {
    flex: 0.5;
    overflow: hidden;
    @media (max-width: 768px) {
      flex: 0.4;
      margin-top: 10px;
    }

    .imgContainer {
      @media (max-width: 768px) {
        align-items: start;
      }
    }
  }

  img {
    height: 90%;

    @media (max-width: 768px) {
      height: 50%;
      align-items: center;
    }
  }
}

.intro .rightDiv {
  flex: 0.5;
  position: relative;

  @media (max-width: 768px) {
    flex: 0.4;
  }

  .rightWrapper {
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      padding-left: 0;
      align-items: center;
      line-height: 3.5rem;
    }
    h1 {
      font-size: 67px;
      @media (max-width: 768px) {
        font-size: 40px;
        margin: 0;
      }
    }

    h3 {
      @media (max-width: 768px) {
        font-size: 20px;
      }
      span {
        font-size: inherit;
        @media (max-width: 768px) {
          font-size: 25px;
        }
      }
      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  a {
    position: absolute;
    bottom: 10px;
    left: 40%;
    @media (max-width: 768px) {
      bottom: 0;
      left: 45%;
    }

    img {
      width: 40px;
      animation: alternate 2s infinite;
    }
    @keyframes alternate {
      to {
        opacity: 0;
      }
    }
  }
}
.imgContainer {
  background: url(../../assets/Blue-abstract-liquid-shapes-on-transparent-background-PNG-removebg-preview.png)
    no-repeat;
  background-size: contain;
  background-position: center;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}
