.footer {
  background: #1a1a1a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;

  /* width: 100vw; */
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  overflow: hidden;
}
.top i:hover {
  color: crimson;
}
.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.bottom div {
  display: flex;
  flex-direction: column;
}
.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}
.bottom a {
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}
.main {
  width: 80vw;
}
