.testimonials {
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  h1 {
    font-size: 50px;

    @media (max-width: 768px) {
      font-size: 20px;
      margin-top: 10px;
      overflow: hidden;
    }
  }
  .testimonialContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      height: 100%;
    }

    .cards {
      width: 270px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;

      @media (max-width: 768px) {
        height: 180px;
        width: 250px;
        margin: 13px 0;
      }

      &.featured {
        width: 300px;
        height: 80%;
        margin: 0 30px;

        @media (max-width: 768px) {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
          height: 50px;
        }

        .left,
        .right {
          height: 25px;
        }
        .user {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
          margin: 0 30px;

          @media (max-width: 768px) {
            width: 40px;
            height: 40px;
          }
        }
      }
      .center {
        padding: 10px;
        background: rgb(247, 242, 243);
        border-radius: 10px;
        margin: 0 10px;

        @media (max-width: 768px) {
          font-size: 11;
          padding: 5px;
        }
      }
      .bottom {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
          margin-top: 5px;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
        h4 {
          color: rgb(141, 141, 141);

          @media (max-width: 768px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
